
.caixa { 
         margin-left: 500px;
         margin-top: 80px;
              
          width: 250px;
          height: 340px;
          color: white;
          background: linear-gradient( to top,rgba)
          }
          